<div class="row">
  <div class="span12">
    <div style="text-align:center;">
      <h1 class="headline">Collexion Collector</h1>
      <h5>Collexion Hackerspace Inventory System</h5>
    </div>
  </div>
</div>